html {
	overflow-y: scroll;
}

html, body {	
	height: 100%;	
}

body {
	color: #333;
	font-size: 16px;
	background-color: #ccc;
	font-family: Arial, Helvetica, sans-serif;
	margin: 0;
	padding: 0;
}

#siteContainer {
	background-color: #fff;
	border-bottom: 1px solid #333;
	border-left: 1px solid #333;
	border-right: 1px solid #333;
	border-top: 15px solid #333;
	box-sizing: border-box;
	margin: 0 auto;
	padding: 0 20px 20px 20px;
	width: 960px;
}

h2 {
	border-top: 1px solid #333;
	padding-top: 15px;
}

a {
	color: #778899;
}

a:hover, a:active {
	color: #778899;
	text-decoration: none;
}

form {
    margin: 0;
    padding: 0;
}

img {
    border: 0 none;
}

input, select, textarea {
    color: #333;
    font-family: Helvetica,Arial,sans-serif;
    font-size: 12px;
}

/* used to fix bug in browser rendering images within hyperlinks */
a img {
    margin: 0;
    padding: 0;
    vertical-align: bottom;
}

dt {
	float: left;
	font-weight: bold;
}

dt:after {
	content: ":\00a0"
}

dd, li {
	margin-bottom: 15px;
}

footer {
	border-top: 1px solid #333;
	font-size: 12px;
}

footer h3 {
	font-size: 13px;
	text-transform: uppercase;
}

footer ul {
	padding-left: 15px;
}
