/* Glossary styling */
a.glossaryTerm {
  	padding-right: 17px;
  	background: url('icon-open-full.png') no-repeat right bottom 0.15em;
  	background-size: 13px;
  	margin-right: 5px;
  	cursor: help;
}
a.glossaryTerm:hover {
  	text-decoration: none;
}
a.glossaryTerm.opened {
  	padding-right: 0;
  	font-weight: bold;
  	background: none;
  	cursor: text;
  	margin-right: 0;
}
a.glossaryTerm.opened .glossaryDefinition {
  	font-weight: normal;
}
a.glossaryTerm.opened .closeGlossaryTerm {
  	cursor: pointer;
  	text-decoration: none;
}
a.closeGlossaryTerm {
  	display: inline-block;
  	width: 15px;
  	background: url('icon-close-full.png') no-repeat center bottom 0.2em;
  	background-size: 13px;
  	text-decoration: none;
  	margin-left: 2px;
  	margin-right: 5px;
}
